<div class="episode-container">
  <div class="episode-info" *ngIf="episode$ | async; else loading; let e;">
    <div class="row">
      <div class="col-6">
        <b>Id: </b>
      </div>
      <div class="col-6">
        {{ e.episodeUid }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b>Title: </b>
      </div>
      <div class="col-6">
        {{ e.episodeTitle }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b>Number: </b>
      </div>
      <div class="col-6">
        {{ e.episodeNumber }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b>Production Number: </b>
      </div>
      <div class="col-6">
        {{ e.episodeSerialNumber }}
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="row"><div class="col-2"><b>Loading ...</b></div></div>
  </ng-template>
</div>
