<div class="menu-container">
  <h3 class="title">Select from here your preffered season from StarTrek</h3>
  <div class="select-container">
    <form [formGroup]="episodesGroup">
      <select formControlName="season" (change)="onChange()" class="form-control">
        <option [ngValue]="null" disabled>Select Season</option>
        <option *ngFor="let season of episodes" [ngValue]="season.seasonNumber">Season {{ season.seasonNumber }}</option>
      </select>
    </form>
  </div>
  <div *ngIf="seasonSelected" class="episodes-container">
    <h5 class="title">Episodes Titles</h5>

    <div class="episodes-container row" *ngFor="let episode of episodesList">
      <a [routerLink]="['/episode/',episode.episodeUid]">{{ episode.episodeTitle }}</a>
    </div>
  </div>
</div>

